<title>Welcome To Survey</title>
{{> style}}

   <div class="alert alert-success" id="success-alert">
  
  </div>
   <div class="alert alert-danger" id="danger-alert">
 
  </div>

    <header class="navigation">
        <div class="outer_box">
            <nav class="navigation_nav">
                <ul>
                    <li class="navigation_nav--home"><a href="#">HOME</a></li>
                    <li class="navigation_nav--report"><a href="#">REPORTS</a></li>
                </ul>
            </nav>
            <div class="navigation_logo">
                <a class="navigation_logo--name">Survey</a>
            </div>

        </div>
    </header>


    <section id="main">
        <div class='main_boxes'>
            <div class="box">
                <h1>Total States</h1>
                <hr>
                <p>{{data.State}}</p>
            </div>
            <div class="box">
                <h1>Total Districts</h1>
                <hr>
                <p>{{data.District}}</p>
            </div>
            <div class="box">
                <h1>Total Blocks</h1>
                <hr>
                <p>{{data.Block}}</p>
            </div>
        </div>
        <div class='main_boxes'>
            <div class="box">
                <h1>Total Villages</h1>
                <hr>
                <p>{{data.Village}}</p>
            </div>
            <div class="box">
                <h1>Total Houses</h1>
                <hr>
                <p>{{data.House}}</p>
            </div>
            <div class="box">
                <h1>Total Members</h1>
                <hr>
                <p>{{data.Member}}</p>
            </div>
        </div>

        </div>
        <div class="main_buttons">
            <button class="main_buttons--house  btn--animated" data-toggle="modal" data-target="#add-house-modal">Add
                House</button>
            <button class="main_buttons--member btn--animated" data-toggle="modal" data-target="#add-member-modal">Add
                Member</button>

        </div>
    </section>

    <section id="displayReports">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 side-1">
            <h1> Statewise Average Salary</h1>
            <div class="table-responsive coman-table">
                <table class="table dataTables-example">
                    <thead>
                        <tr>
                            <th>State</th>
                            <th>Average Salary</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="statewise">
                     
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 side-2">
            <h1> Statewise GenderWise Average Salary</h1>
            <div class="table-responsive coman-table text-center">
                <table class="table dataTables-example">
                    <thead class="text-center">
                        
                            <th>State</th>
                            <th>Male Average Salary</th>
                            <th> Female Average Salary</th>
                      
                    </thead>
                    <tbody id="genderwise">

                    
                    </tbody>
                </table>
            </div>
        </div>

    </section>

    <div class="modal coman-modal fade" id="add-house-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row">
                    <h1 class="heading-primary text-center">Add House</h1>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-1">
                        <div class=" text-center">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                                <input type="text" class="form-control" placeholder="House Number" id='houseNumber'>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="House Head Name" id="headName">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-1">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="state">
                                <option>Select State</option>
                            </select>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="district">
                                <option>Select District</option>
                            </select>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="block">
                                <option>Select Block</option>
                            </select>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="village">
                                <option>Select Village</option>
                            </select>

                        </div>

                    </div>

                    <div class="clearfix text-center">
                        <button type="submit" class="btn" onclick="addHouse()">Submit</button> </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal coman-modal fade" id="add-member-modal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row">
                    <h1 class="heading-primary text-center">Add Member</h1>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side-1">
                        <div class=" text-center">

                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="text" class="form-control" placeholder="Member Name" id='name'>
                            </div>
                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <input type="number" min=1 class="form-control" placeholder="Salary" id='salary'>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                                    style="padding:0px;padding-right:20px;">
                                    <input type="number" min=1 max=100 class="form-control" placeholder="Age" id='age'>
                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding:0px">
                                    <select class="form-group form-control" id='gender'>
                                        <option>Select Gender</option>
                                        <option value='0'>Male</option>
                                        <option value='1'>Female</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="state1">
                                <option>Select State</option>
                            </select>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id="district1">
                                <option>Select District</option>
                            </select>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id='block1'>
                                <option>Select Block</option>
                            </select>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id='village1'>
                                <option>Select Village</option>
                            </select>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            <select class="form-group form-control" id='house'>
                                <option>Select House Number</option>
                            </select>

                        </div>

                    </div>

                    <div class="clearfix text-center">
                        <button type="submit" class="btn" onclick='addMember()'>Submit</button> </div>
                </div>

            </div>
        </div>
    </div>


<!-- Mainly scripts -->
{{> script}}

